
/*  Variables  */
:root {
    --main-color: #64361b;
    --border-color: black;
    --background-color: #1a3300;
}

body {
  background-size: cover;
  background-color: var(--background-color);
}

#passages {
    font-size: 20px;
  	text-indent: 40px each-line;
    background-color: var(--main-color);
    padding: 10px;
    border: 5px solid var(--border-color);
    border-radius: 20px;
}

#story-title{
    display: none;
}

.passage a{
  color: #EEDB74;
}

.passage a:hover{
  color: #C57200;
  text-decoration: none;
}

/* menu */

#ui-bar{
    background-color: var(--main-color);
    border-right: 5px solid var(--border-color);
}

#ui-bar h1, h2, h3, h4, h5{
  margin-bottom: 0px;
  margin-top: 0px;
}

#menu li a {
	text-transform: none;
}

#menu li a:hover{
    background-color: #6C4B1A;
}

#text {
  background-color: blue;
}
#ui-bar-toggle:hover{
    background-color: #2B5A23;
    border-color: #506D41;
}
/* Save Dialog */
#ui-dialog-titlebar{
    background-color: var(--main-color);
    border-bottom: 3px solid white;
}

#ui-dialog-body{
    background-color: var(--main-color);
}

button {
    background-color: #2B5A23;
    border-color: #506D41;
}

button:hover{
    background-color: #828345;
    border-color: #544218;
}

.delete:hover, #saves-clear:hover{
    background-color: #CC4C1F;
    border-color: #DF7500;
}

/*  Footer  */
#footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    background-color: var(--main-color);
    border-top: 5px solid var(--border-color);
    padding-bottom: 20px;
    width: 100%;
    left: 0px;
    padding-top: 20px;
}

#footerText {
    display: inline-block;
    width: 300px;
}

#passages button {
    width: 100%;
}

/*  Tables  */
.container {
    text-align: center;
}
.container, th, td{
    border: 3px solid var(--border-color);
}
.capitalize {
    text-transform: capitalize;
}

/*  Text Decoration  */
.food {
    color: #ff8533;
}
.drink {
    color: aqua;
}